VAPID_PUBLIC_KEY=BLP2GI82ErYu5izd7I6naTvWoOEb_udwhLrUy2o2c_SbnI54MDbyI-HWWAuMKBhvWjE9zmujk6eaDHYi07vsumM
VAPID_PRIVATE_KEY=GUh4fLDl1xbcCpS2tofV5SCR3yCv2SFMvNjP6o3Qzp4
VAPID_EMAIL=tomi.putto@gmail.com
FRONTEND_URL=https://your-app.onrender.com
PORT=3001
